* {
    margin: 0;
    padding 0;
}

.cabecalho {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: #1827f1;

}

.cartao {
    width: 260px;
    height: 20px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    background-color: #1827f1;
}